html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

*{
outline:0 !important;
}

.view{
  height: 100%;
}

.nav-bar{
  background : #fff;
  color : #fff;
  border-bottom: 1px solid #ddd;
}

.container-inner{
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.navbar-nav{
  li{
    a{
      color: #000 !important;
      outline : none !important;
      font-weight : 900;
      // padding-right: 0px;
      // margin-right: 23px;
    }
  }
  li.active{
    a{
    border-bottom: 3px solid #FF7301;
    height: 40px;
    // width: 42px;
    }
  }
}

.container_tags{
  padding-top: 14px;
  margin-right: 10px;
}

.tag_item {
  background: #FF7301;
  color: #fff;
  border-radius: 7%;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 7px;
}

a, a:hover, a:focus{
  text-decoration: initial !important;
}

.navbar-nav > li > a:hover{
  // background: #fff !important;
}

ul.list-group{
  margin: 0 !important;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

ul.list-group.second{
  transform: translateX(-50%);
  left: 50%;
}

a.active{
  border-bottom: 3px solid #FF7301;
}

.container-page{
  overflow-y: auto;
  padding-left: 25px;
  height: 100%;
  overflow-x: auto;
  background: #EFEFF4;
}

.row-content{
  -moz-box-shadow: rgba(78,89,93,0.25) 0 1px 0 0;
  -webkit-box-shadow: rgba(78,89,93,0.25) 0 1px 0 0;
  box-shadow: 6px 6px 8px rgba(136, 136, 136, 0.56);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #fff;
  margin-left: 5px;
  margin-top: 30px;
  padding: 20px 0 20px;
  position: relative;
  top: -20px;
}

.modal-open .modal{
  z-index: 9999999 !important;
}

.content{
  height: 600px;
  margin-right: 38px;
  margin-bottom: 50px;
  box-shadow: 6px 6px 8px rgba(136, 136, 136, 0.56);
  border-radius: 3px;
  background: #fff;
  padding: 0px 0 65px;
  position: relative;
  display: block;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* width: 260px; */
  /* -webkit-box-shadow: 0 0 2px rgba(0,0,0,.1); */
  /* -moz-box-shadow: 0 0 2px rgba(0,0,0,.1); */
  /* box-shadow: 0 0 2px rgba(0,0,0,.1); */
  -webkit-transition: box-shadow .2s ease 0s;
  -moz-transition: box-shadow .2s ease 0s;
  -o-transition: box-shadow .2s ease 0s;
  transition: box-shadow .2s ease 0s;

  // background: #ddd;
  // height: 600px;
  // border: 1px solid #E3E3E3;
  // box-shadow: 5px 5px 5px #FAFAFA;
  // margin-right: 38px;
  // margin-bottom: 50px;
  // -moz-box-shadow: rgba(78,89,93,0.25) 0 1px 0 0;
  // -webkit-box-shadow: rgba(78,89,93,0.25) 0 1px 0 0;
  // box-shadow: rgba(78,89,93,0.25) 0 1px 0 0;
  // box-shadow: 6px 6px 8px rgba(136, 136, 136, 0.56);
  // -moz-border-radius: 3px;
  // -webkit-border-radius: 3px;
  // border-radius: 3px;
  // background: #fff;
  // margin-left: 5px;
  // margin-top: 30px;
  // padding: 0px 0 0;
  // position: relative;
  // top: -20px;
  &__bottom{
    display: block;
    position: absolute;
    background: #EAEAEA;
    bottom: 0;
    height: 45px;
    width: 100%;
    button{
      color: #fff;
      background-color: #928E89;
      border-color: #A7A4A1;
      bottom: -5px;
      position: relative;
    }
  }
  &__text{
    border-top: 1px solid #EAEAEA;
    padding-top: 12px;
  }
}

.title-content{
  font-size: 20px;
  font-weight: 900;
  border-bottom: 1px solid #ddd;
}

.title-line {
  line-height: 0.5;
  margin-bottom:40px;
  text-align: center;
}
.title-line span {
  font-weight: 900;
  text-shadow: 2px 2px #B0B0B0;
  display: inline-block;
  position: relative;
}
.title-line span:before,
.title-line span:after {
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 1px solid #BCBCBC;
  border-top: 1px solid #BCBCBC;
  top: 0;
  width: 600px;
}
.title-line span:before {
  right: 100%;
  margin-right: 15px;
}
.title-line span:after {
  left: 100%;
  margin-left: 15px;
}

.image-header{
  width: 100%;
  height: 400px;
  position: relative;
}

.image-header-small{
  width: 60%;
  height: 50%;
  position: relative;
}

.no-padding{
  padding-left:0px !important;
  padding-right:0px !important;
}

.description{
  border-top: 1px solid #D8D7D7;
  margin-top: 10px;
}

.navbar-fixed-top, .navbar-fixed-bottom{
  z-index:99999;
}

.menu-second{
  position: absolute;
  right: 104px;
  z-index: 9999;
  // top: 50px;
  padding-right: 0px;
  background: #3D4246;
  height: 100%;
  width: 200px;
  padding-top: 60px;
  .list-group-foto{
    cursor: pointer;
    display: block;
    text-align: center;
    top: 25%;
    position: relative;
    &__content{
      color: #fff;
      padding-bottom: 50px;
    }
    &__content:hover{
      color: #FF7301;
    }
      // transform: translateY(50%);
  }
  li.list-group-item{
    background: #3D4246 !important;
    color: #fff;
    border: none !important;
    text-align: center;
    .dropdown-menu{
      right: 70px;
      padding-right: 30px !important;
      padding-left: 30px !important;
      padding-top: 30px !important;
      text-align: center !important;
      left:inherit !important;
      min-width: initial !important;
      position: fixed;
      right: 70px;
      top: 48px;
      padding-right: 0px;
      background: #3D4246;
      height: 100%;
      border:none;
      box-shadow: none;
      &-list{
        top: 50%;
        position: relative;
      }
      a, a:hover, a:focus{
        text-decoration: initial !important;
      }
    }
    div{
      text-align: center;
    }
  }
  li.active{
    color:#4DC0DF !important;
    background:#3D4246 !important;
    div{
      color: #fff;
    }
  }
}

.title-form{
  color:#fff;
}

div.wrapper{
  position:relative; /* important(so we can absolutely position the description div */
}
div.description-box{
  position:absolute; /* absolute position (so we can position it where we want)*/
  bottom:0px; /* position will be on bottom */
  left:0px;
  width:100%;
  /* styling bellow */
  background-color:#000;
  font-size:15px;
  color:white;
  opacity:0.6; /* transparency */
  filter:alpha(opacity=60); /* IE transparency */
}
p.description-content{
  padding:10px;
  margin:0px;
  word-wrap: break-word;
}


.box-list{
  position: relative;
  display: block;
}

.title-box{
  font-weight: 900;
  color: #FFFFFF;
  background: rgba(0, 0, 0, 0.66);
  top: -55px;
  position: relative;
  height: 55px;
  bottom:0;
  &__text{
    transform: translateY(50%);
    font-size: 18px;
  }
}

.box{
  border: 1px solid #ddd;
  margin-bottom:18px;
}

.box-bottom{
  padding-left: 40px;
  padding-right: 40px;
}

.box-content{
  text-align: justify;
}

.view-carousel{
  height:100px;
  overflow-y: auto;
  overflow-x: hidden;
}

.carousel3{
  margin-left: 50%;
  width: 89px;
}

.gallery {
  padding: 0;
}

.dropdown-toggle{
  cursor: pointer;
}

.gallery li {
  display: inline-block;
  margin: 0 1em 1em 0;
  list-style-type: none;
  text-align: center;
  img{
    cursor:pointer;
    height: 111px;
    width: 133px;
    float: left;
    overflow: hidden;
    margin: 20px;
  }
}

.logo-support {
    width: 120px;
}

form{
  padding: 25px;
}

.form-group{
  label{
    // color: #fff;
  }
}

.menu-list{
  position: absolute;
  right: 0;
  z-index: 5;
  // top: 50px;
  padding-right: 0px;
  background: #686D72;
  height: 100%;
  width:104px;
  padding-top:60px;
  i{
    color: #fff;
    text-align: center;
  }
  ul.list-group{
      // transform: translateY(50%);
  }
  li.list-group-item{
    background: #686D72 !important;
    color: #fff;
    border: none !important;
    text-align: center;
    .dropdown-menu{
      right: 70px;
      padding-right: 30px !important;
      padding-left: 30px !important;
      padding-top: 30px !important;
      text-align: center !important;
      left:inherit !important;
      min-width: initial !important;
      position: fixed;
      right: 70px;
      top: 48px;
      padding-right: 0px;
      background: #3D4246;
      height: 100%;
      border:none;
      box-shadow: none;
      &-list{
        top: 50%;
        position: relative;
      }
      a, a:hover, a:focus{
        background: #686D72 !important;
        text-decoration: initial !important;
      }
    }
    div{
      color: #fff;
      text-align: center;
    }
  }
  li.active{
    color:#4DC0DF !important;
    background:#3D4246 !important;
    div{
      color: #fff;
    }
  }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 25px;
  background-color: #FFFFFF;
  font-weight: 900;
  border-top: 1px solid #FF7301
}

/* Box Shadow Inset */
.hvr-box-shadow-inset {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.6), 0 0 1px rgba(0, 0, 0, 0);
  /* Hack to improve aliasing on mobile/tablet devices */
}
.hvr-box-shadow-inset:hover, .hvr-box-shadow-inset:focus, .hvr-box-shadow-inset:active {
  box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.6), 0 0 1px rgba(0, 0, 0, 0);
  /* Hack to improve aliasing on mobile/tablet devices */
}

/* Float Shadow */
.hvr-float-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  bottom: 35px;
  left: 1%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
.hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  /* move the element up by 5px */
}
.hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}

//loading scss
.container-loading {
  height: 100%;
  width: 100%;
  z-index: 9999;
  position: fixed;
  background: #fff;
  margin-left: -25px
  /* display: none; */
}

.sk-folding-cube {
  margin: 20px auto;
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
  top: 40%;
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1); 
}
.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
  animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
  transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
  transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
  transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s; 
}
.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  } 
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  }
}
