<!-- <h3 class="text-center">Pantai Yogyakarta</h3> -->
<div ng-show="loading" class="container-loading">
  <div class="sk-folding-cube">
    <div class="sk-cube1 sk-cube"></div>
    <div class="sk-cube2 sk-cube"></div>
    <div class="sk-cube4 sk-cube"></div>
    <div class="sk-cube3 sk-cube"></div>
  </div>
</div>
<h3 class="title-line"><span>Pantai Yogyakarta</span></h3>
<div class="col-md-4 no-padding hvr-float-shadow" ng-repeat="pantai in Home.listpantai" >
  <div class="content">
  <div class='wrapper container-fluid no-padding'>
    <img ng-src="{{(pantai.image)?pantai.image:'/src/images/noimage'}}" alt="" class="img-responsive image-header"/>
    <div class='description-box'>
      <p class='description-content'>{{ pantai.name}}</p>
    </div>
  </div>
  <div class="container_tags">
    tags:
    <span ng-repeat="tag in pantai.tags" class="tag_item">
      {{ tag.name }}
    </span>
  </div>
  <div class="col-sm-12 col-md-12 col-xs-12">
    <span>Koordinat : {{ pantai.coordinat}}</span>
  </div>
  <div class="col-sm-12 col-md-12 col-xs-12">
    <span>Perkiraan Cuaca Hari ini : {{pantai.weather}} </span>
    <img ng-src="{{pantai.icon_weather}}" alt="">
  </div>
  <div class="col-sm-12 col-md-12 col-xs-12">
    <span>{{pantai.full_description_title}}</span>
  </div>
  <div class="col-sm-12 col-md-12 col-xs-12 content__text">
    {{ pantai.description }}
  </div>
  <div class="col-sm-12 content__bottom">
    <button class="btn" ng-click="Home.goDetail(pantai.id)">Lihat Selengkapnya</button>
  </div>
</div>
</div>
