<!-- Navigation -->
<nav class="navbar nav-bar navbar-fixed-top" role="navigation">
  <div class="container-inner">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
            <a href="#" ui-sref="main.home.dashboard" ui-sref-active="active">HOME</a>
        </li>
        <!-- <li> -->
        <!--   <a href="#" ui-sref="main.home.gallery" ui-sref-active="active">GALLERY</a> -->
        <!-- </li> -->
        <!-- <li> -->
        <!--   <a href="#" ui-sref="main.home.how" ui-sref-active="active">ABOUT</a> -->
        <!-- </li> -->
      </ul>
      <img src="/dist/img/foursquare.png" class="pull-right">
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>

<!-- Page Content -->
<div class="container-page">
  <div class="menu-list">
    <ul class="list-group">
      <li ng-click="Main.openMenu('quote')" ng-class="{active : Main.hide == false && Main.listMenu == 'quote'}" class="list-group-item">
      <div class="dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-2x fa-search"></i>
        <div>Pencarian Rekomendasi</div>
      </div>
      </li>
    </ul>
  </div>
  <div class="row">
    <div ng-hide="Main.hide"  class="menu-second">
      <div ng-if="Main.listMenu == 'quote'">
        <form role="form">
          <div class="form-group">
            <label for="kemana" class="title-form">Mau pergi ke pantai seperti apa? </label>
            <tags-input
            placeholder="Pantai seperti apa"
            ng-model="Main.form.search"
            name="Jobs.form.search_name"
            id="search"
            type="text"
            class="validate"
            ></tags-input>
          </div>
          <div class="form-group">
            <input type="submit" class="btn btn-warning" value="cari" ng-click="Main.goRecommendation()">
          </div>
          <div style="color:#fff">
            contoh : pasir halus, berkemah, pemandangan
          </div>
        </form>
      </div>
    </div>

    <div class="col-md-12" style="top: 45px;padding-right: 160px;padding-bottom: 12px;"> 
        <div ui-view></div>
    </div>
  </div>
</div>
<footer class="footer">
  <div class="text-center">
    <p class="text-muted">jogja@2016</p>
  </div>
</footer>
</div>
