<h3>Pantai yang kamu cari ?</h3>
<div class="col-md-12 no-padding hvr-float-shadow" ng-repeat="pantai in Recommendation.listpantai" >
  <div class="row box row-content">
    <div class="col-sm-4">
      <img ng-src="{{(pantai.image)?pantai.image:'/src/images/noimage'}}" alt="" class="image-header">
    </div>
    <div class="col-sm-4">
      <p class="title-content">{{pantai.pantai}}</p>
      <span>{{pantai.description}}</span>
    </div>
    <div class="col-sm-4">
      <div>Koordinat : {{ pantai.koordinat}}</div>
      <div>Perkiraan Cuaca Hari ini : {{pantai.weather}} </div>
      <img ng-src="{{pantai.icon_weather}}" alt="">
      <div>
            <button class="btn btn-warning" ng-click="Recommendation.goDetail()">Lihat Selengkapnya</button>
      </div>
    </div>
  </div>
</div>
<h1>rekomendasi lain</h1>
<div class="row-content">
<ul rn-carousel-locked="true" rn-carousel="" rn-carousel-index="carouselIndex" class="carousel1 view-carousel style-1" id="style-1">
  <li ng-repeat="row in Recommendation.listpantai track by $index">
      <div class="row box-bottom">
        <div class="col-md-2">
          <img ng-src="{{(row.image)?row.image:'/src/images/noimage'}}" alt="" class="image-header">
        </div>
        <div class="col-md-6">
          <span>{{row.description}}</span>
          <div>
            <button class="btn btn-warning" ng-click="Recommendation.goDetail()">Lihat Selengkapnya</button>
          </div>
        </div>
      </div>
  </li>
  <div class="rn-carousel-controls ng-scope">
    <span class="rn-carousel-control rn-carousel-control-prev ng-scope" ng-click="prevSlide()" ng-if="carouselIndex > 0 || false"></span>
    <span class="rn-carousel-control rn-carousel-control-next ng-scope" ng-click="nextSlide()" ng-if="carouselIndex < Recommendation.listpantai.length - 1 || false"></span>
  </div>
</ul>
</div>

